html, body
{
  height: 100%;
}

p
{
  font-family: 'Open Sans', sans-serif;
}

h1
{
  font-family: 'Raleway', sans-serif;
  padding-top: 30px;
  font-size: 3.0em;
}

.pageful
{
  min-height:100%;
  position: relative;
}

#greeter
{

  background-color: #FFFFFF;
  background-image: url('../img/masthead.gif');
}

#residentservices
{
  background-color: #FFCCFF;
  background-image: url('../img/green_cup.png');
}

#commercialservices
{
  background-color: #82CAFA;
  background-image: url('../img/calgarysil.png');
  background-repeat: repeat-x;
  background-position: 50% bottom;
  background-attachment: fixed;

}

#whyus
{
  background-color: #FFFFFF;
}

#faqs
{
  background-color: #AAAAAA;
}

#footer
{
    background-color: #FFFFFF;
    background-image: url('../img/masthead.gif');
}

.whitepage
{
  background-color: #FFFFFF;
  margin: 40px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  box-shadow: 10px 10px 5px #888888;
}



#maincontent
{
	padding-top: 30px;
}

.toplink
{
	height: 65px;

	text-align: center;

}

.toplink a
{
	color: rgb(66, 139, 202);
	font-weight: bold;
	font-size: 1.1em;
}

.clinger
{
	font-size: 0.8em;
}

.borderleft
{
	/*border-left: 1px solid  rgb(66, 139, 202);*/
}

.navicon
{
	font-size: 2.0em;
}

.slides
{
  background-color: #FFFFFF;
  width: 100%;
}

.aboutuslinka
{
  width: 150px;
  height: 60px;
  background-color:  rgb(66, 139, 202);
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.aboutuslink a
{
  text-align: center;
  color: #FFFFFF;
  vertical-align: center;
}

#mobilemenu
{
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5em;
  padding-left: 2px;
  padding-right: 3px;
  border: 1px solid #929292;
  border-radius: 5px;
}

#mobilemenu a:hover
{
  text-decoration: none;
}

#footer
{
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 20px;
  padding-top: 10px;
}

#footer > p
{
  margin-bottom: 4px;
}

#footernav
{
  margin: 0;
}

#footernav li
{
  display: inline-block;
  list-style: none;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

#footernav li:first-child
{
  border-style: none;
  margin-left: -50px;
  padding-left: none;
}

#guarantee
{
  background-color: #D2EFFF;
  background-image: url('../img/squeegsil.png');
  background-attachment: fixed;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}



#whyus
{
  background-color: #FFCCFF;
  background-image: url('../img/masthead.gif');
}

#whychooserow
{
  padding-top: 50px;
  padding-bottom: 80px;
}

.tallman > .leader
{
  font-size: 2.0em;
  text-align: center;

}

.tallman > img
{
  display: block;
  padding: 20px;
  width: 180px;
  height: 290px;
  margin: 0 auto;
}

.tallman
{
  width: 90%;
  padding: 10px;
  height: 800px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

#resheader
{
  margin-bottom: 60px;
}

.wideboy
{
  width: 100%;
  background-color: #FFFFFF;
}

.lefthulk
{
  width: 20%;
  display: inline-block;
  background-color: green;
  color: #FFFFFF;
  vertical-align: top;
}

.rightsmashinner
{
  padding: 10px;
}

.lefthulk > img
{
  width: 100%;
  height: 100%;
}

.rightsmash
{
  display: inline-block;
  width: 80%;
  background-color: white;
  height: 100%;
}

.resleader
{
  font-size: 1.4em;
}


.whyusdivider
{
  display:none;
}

#keepscrolling
{
  margin-top: 80px;
  text-align: center;
}

.residentrow
{
  margin-bottom: 40px;
}

.residentrow > .col-md-4
{
  padding-bottom: 40px;
}

.residentrow > .col-md-4 > img
{
  width: 100%;
  height: 100%;
}



.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 20px auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }




@media (max-width: 767px){

  h1
  {
    padding-top: 20px;
    font-size: 1.9em;
    font-weight: bold;
  }

	.toplink
	{
		height: 100%;
		padding-top: 0px;
	}

  .navicon
  {
    display: inline-block;
  }

	.clinger
	{
		display: none;
	}

	.borderleft
	{
		border: none;
	}

  #pitchhead
  {
    font-size: 2.3em;
  }

  .ctalink
  {
    width: 100px;
    display: inline-block;
  }

  #linkscontainer
  {
    display: none;
  }

  #mobilemenu
  {
    display: inline;
  }

  #maincontent
  {
  }

  #commercialservices
  {
    background-attachment: scroll;
  }

  #whyus
  {
    padding-bottom: 20px;
  }

  .tallman
  {
    width: inherit;
    padding: inherit;
    height: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
  }


  .whyusdivider
  {
    width: 60%;
    display: block;

  }

  .whitepage
  {
    background-color: #FFFFFF;
    margin: inherit;
    padding: inherit;
    margin-bottom: 20px;
    height: 100%;
    box-shadow: 10px 10px 5px #888888;
  }

  #logo
  {
    margin-top: 20px;
  }

  .residentrow
  {
    margin-bottom: 0px;
  }


}

@media (max-width: 992px) and (min-width: 768px){
  .aboutuslinka
  {
    width: 120px;
    height: 60px;
    background-color:  rgb(66, 139, 202);
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }

  #linkscontainer
  {
    width: 100%;
  }

  .tallman
  {
    width: 95%;
    padding: 2px;
    height: 500px;

  }



}