@font-face
{
  font-family: ComicNeue;
  src: url('../fonts/ComicNeue-Regular.woff');
}

html, body
{
  height: 100%;
  background-color: #FFFFFF;
  background-image: url('../img/masthead.gif');
  font-family: 'Arvo', sans-serif;
}


h1
{

  font-family: 'ComicNeue', serif;
  padding-top: 30px;
  font-size: 5.0em;
}

input[type='text'],input[type='number'],select,textarea 
{
  font-size:16px;
}

#mobilenavul, #mobilegreet
{
  display: none;
}

.pageful
{
  min-height:100%;
  position: relative;
}

#greeter
{

  background-color: #FFFFFF;
  background-image: url('../img/masthead.gif');
}

#residentservices
{
  background-color: #FFFFFF;
  background-image: none; /*url('../img/laddersupertrans.png');*/
  background-repeat: no-repeat, repeat-y;
  background-position: top left, top left;
  background-attachment: fixed, fixed;

}

#residentservices h1
{
  background-color: rgba(255, 255, 255, 0.0);
  width: 100%;
}

#residentialservices > li
{
  font-size: 1.4em;
  padding-top: 30px;
  padding-bottom: 20px;
}


#residentialleader
{
  font-size: 1.4em;
}

#residentialfollower
{
  font-size: 1.2em;
}

#commercialservices
{
  background-image: url('../img/calgarysil.png');
  background-repeat: repeat-x;
  background-position: 50% bottom;
  background-attachment: fixed;

}

.commercialcore
{
  background-color: rgba(0, 128, 255, 0.1);
  padding: 10px;
  margin-top: 50px;
}

#commercialbanner
{
  font-size: 2.5em;
}

.commercialfooter
{
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
}


.commercialinnercol
{
  width: 50%;
  text-align: center;
  margin-top: 40px;
  font-size: 1.5em;
  font-family: 'Voltaire', sans-serif;
  margin: 0 auto;
}

.commercialcontacta
{
  display: block;
  background-color: rgb(66, 139, 202);
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #FFFFFF;
}

.commercialcontacta:hover
{
  background-color:  rgb(66, 119, 202); 
  text-decoration: none;
  color: #FFFFFF;
}


.commercialicon
{
  display: block;
  font-size: 5.0em;
  margin-bottom: 20px;
  margin-top: 40px;
}

#whyus
{
  background-color: #FFFFFF;
}

#faqs
{
  background-color: #AAAAAA;
}

#footer
{
    background-color: #FFFFFF;
    background-image: url('../img/masthead.gif');
}

.whitepage
{
  background-color: #FFFFFF;
  margin: 40px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  box-shadow: 10px 10px 5px #888888;
}

.leadcentre
{
  text-align: center;
}


#maincontent
{
	padding-top: 30px;
}

.toplink
{
	height: 65px;

	text-align: center;

}

.toplink a
{
	color: rgb(66, 139, 202);
	font-weight: bold;
	font-size: 1.1em;
}

#gauranteewell
{
  font-size: 1.5em;
  padding: 10px;
}

.clinger
{
	font-size: 0.8em;
}

.borderleft
{
	/*border-left: 1px solid  rgb(66, 139, 202);*/
}


/* Errors */
.quotes
{
  background-image: url('../img/quotes.png');
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 50px;
  color: #777777;
  padding: 20px;
  font-family: 'Satisfy', cursive;
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 20px;
}

.quotes > p
{
  margin-top: 20px;
  float: right;
  font-family: Verdana, sans-serif;
  font-size: 0.7em;
}

/* */

.navicon
{
	font-size: 2.0em;
}

.aboutuslinka
{
  width: 150px;
  height: 60px;
  background-color:  rgb(66, 139, 202);
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.aboutuslinka:hover
{
    background-color:  rgb(66, 119, 202);
}

.aboutuslink a
{
  text-align: center;
  color: #FFFFFF;
  vertical-align: center;
}

.mobilegreet
{
  padding-top: 20px;
}


.mobilemenu
{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 1.1em;
  padding-left: 10px;
  padding-right: 3px;
  padding-top: 5px;
  background-color: #000000;
  color: #000000;
  width: 100%;
  z-index: 999;
  height: 25px;
  font-weight: bold;
}

#menuanchor
{
  position: absolute;
  right: 5px;

}

#auxmobilemenu
{
  font-size: 0.8em;
  width: 25px;
  right: 5px;
  left: inherit;
  height: 15px;
}

#mainmobilemenu
{
  position: fixed;
}

.mobilemenu a:hover
{
  text-decoration: none;
}

#footer
{
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 20px;
  padding-top: 10px;
}

#footer > p
{
  margin-bottom: 4px;
}

#footernav
{
  margin: 0;
}

#footernav li
{
  display: inline-block;
  list-style: none;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

#footernav li:first-child
{
  border-style: none;
  margin-left: -50px;
  padding-left: none;
}

#guarantee
{
  background-color: #D2EFFF;
  background-image: url('../img/squeegsil.png');
  background-attachment: fixed;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.shadow
{

    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 40px;
    margin-top: 40px;
}

#guaranteewell
{
  font-family: 'Voltaire', sans-serif;
  font-size: 2.0em;
  padding: 20px;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;

}

#guaranteedaniel
{
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#guaranteediscloser
{
  font-size: 0.7em;
  margin-top: 40px;
}

/* Why choose us */

#whyus
{
  background-color: #FFFFFF;
}

#whychooserow
{
  padding-top: 50px;
  padding-bottom: 80px;
}

.tallman > .leader
{
  font-size: 2.0em;
  text-align: center;

}

.tallman > .follower
{
  color: #444444;
  line-height: 24px;
  font-family: arial, serif;

}

.tallman > img
{
  display: block;
  padding: 20px;
  width: 180px;
  height: 290px;
  margin: 0 auto;
}

.adjustleft > img
{
  margin-left:-30px;
  width: 100% !important;

}

.tallman
{
  width: 90%;
  padding: 10px;
  height: 800px;
  background-color: #FFFFFF;
  border-radius: 5px;

  -webkit-box-shadow: 10px 10px 46px 20px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 46px 20px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 46px 20px rgba(0,0,0,0.75);

}

/* ENDS why choose us */

#resheader
{
  margin-bottom: 60px;
}

.wideboy
{
  width: 100%;
  background-color: #FFFFFF;
}

.lefthulk
{
  width: 20%;
  display: inline-block;
  background-color: green;
  color: #FFFFFF;
  vertical-align: top;
}

.rightsmashinner
{
  padding: 10px;
}

.lefthulk > img
{
  width: 100%;
  height: 100%;
}

.rightsmash
{
  display: inline-block;
  width: 80%;
  background-color: white;
  height: 100%;
}

.resleader
{
  font-size: 1.4em;
}


.leadheader
{
  margin-bottom: 60px;
  font-size: 1.2em;
}

#keepscrolling
{
  position: absolute;
  bottom: 0px;
  right:25%;
  left:50%;
  width: 250px;
  margin-top: 20px;
  text-align: center;
  margin-left: -125px;
  clear: both;
}

.residentrow
{
  margin-bottom: 40px;
}

.residentrow > .col-md-4
{
  padding-bottom: 40px;
}

.residentcolcontainer
{
  background-color: rgba(255, 255, 255, 0.8);
}

.residentcolcontainer > p
{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.resfollower
{
  padding-bottom: 20px;
  font-size: 1.2em;
}


.residentrow img
{
  width: 100%;
}

.cloudpreload
{
  position: absolute;
  top: -999px;
  left: -999px;
  width: 1px;
  height: 1px;
}


.smallheader
{
  display: none;
  background-color: black;
  color:  rgb(66, 139, 202);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 20px;
}

#getpersonal
{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.stage1-link
{
}

.radio
{
  display: inline-block;
  margin: 20px;
}

#welcomebackalert
{
  display: none;
}

.outer-center {
    float: right;
    right: 50%;
    position: relative;
}
.inner-center {
    float: right;
    right: -50%;
    position: relative;
}
.clear {
    clear: both;
}

.redasterix
{
  color: red;
}

.superglyph
{
  float: left; 
  font-size: 32px; 
  margin-right: 16px; 
}

#howitworks > p
{
  font-size: 1.4em;
  text-decoration: underline
}

#howitworks > ol
{
  list-style: upper-roman;
}

#bigtower
{
}

#usertitle
{
  height: 40px;
  width: 70px;
}

#whoname
{
  width: 175px;
}

#comment
{
  width:  100%;
  height: 150px;

}

#bookbutton
{
  margin-top: 50px;
  text-align: center;
}

.emphasis
{
  font-weight: bold;
}

.btn-wide
{
  width: 50%;
}

.stylishhr
{
  width: 60%;
  border-top: 1px solid #ccc;
}

.windowretainer
{
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #FFAA00;
}

.controls > input
{
  height: 40px;
  width: 250px;
}

.mobileform
{
  margin: 0 auto;
}

.mobileform > input, textarea
{
  width: 100%;
  height: 300px;

}

.multichoice
{
  margin-top: 40px;
}

.multichoice > a > div
{
  /*border: 2px outset rgb(66, 139, 202);*/
  border-radius: 5px;
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
  height: 140px;
  color: #000000;

}

.muiltichoice  > a> .lead
{
  font-weight: bold;
  font-size: 1.4em;
}

.multichoice > a > #residential
{
  background-color: #7BCC70;
}

.multichoice > a > #lightcommercial
{
  background-color: #01C5BB;
}

.multichoice > a > #commercial
{
  background-color: #6699FF;
}

.multichoice > a > #quote
{
  background-color: #FFAA00;
}

.multichoice > a > #booking
{
  background-color: #876ED7;
}

.multichoice > a > #contactus
{
  background-color: #009999;
}


.quote-col-leader
{
  font-size: 1.4em;
  text-decoration: underline;
}

.col-parent
{
  margin-top: 20px;
}

/* Quote Cell */
.quote-col
{
  margin-top: 10px;

}

.quote-col > img
{
  display: inline-block;
  vertical-align: top;
}

.quote-col > .description
{
  display: inline-block;
}

.quote-col > .description > p
{
  padding: 0px;
  margin: 0px;
  width: 100px;
}

.quote-col > .input
{
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}

.quote-col > .input > input
{
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

.quote-col > .inputadjuster
{
  display: inline-block;
}

.quote-col > .inputadjuster > button
{
  display: block;
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 1px;
}

.small
{
  font-size: 0.7em;
}

.kindasmall
{
  font-size: 0.9em;
}

.error
{
  display: none;
  color: #FF0000;
  font-weight: bold;
}

#postalcodeinput
{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.biginputlabel
{
  font-size: 1.5em;
  margin-bottom: 30px;
}

#getstartedinvalid
{
  text-align: center;
}

#getstartedselectionheader
{
  margin-bottom: 50px;
}

.privacyitem
{

}

.privacybullet
{
  font-size: 1.5em;
  padding: 10px;
  vertical-align: top;
}

.privacytext
{
  font-size: 1.2em;

  padding-bottom: 30px;

}

#pitchhead
{
  margin-top: 50px;
  font-size: 3.0em;
  font-family: 'ComicNeue', serif;
}


/* END Quote Cell */

#privacybanner
{
  display: block;
  padding-top: 30px;
  padding-bottom: 20px;
}

#stage3-residential
{
  display: none;
}

.protips > li
{
  font-size: 1.4em;

}

.protip
{ 
  display: none;
  text-align: left;
}

.protipanchor
{
  display: block;
  font-size: 0.8em;
  margin-top: 20px;
}


.sliderholder
{
  display: block;
  margin-bottom: 30px;
}

#postalcode
{
  width: 120px;
  height: 36px;
  font-size: 24px;
  margin-left: 90px;
}

#postalcodelookup
{
  vertical-align: top;
  display: inline-block;
}

#bookingpostalcode
{
  width: 120px;
  height: 36px;
}

/* Front page slide control */

.slides
{
  /*background-color: #FFFFFF;*/
  position: relative;
  width: 100%;
}


.rslides 
{
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 20px auto;
}

.rslides li 
{
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child 
{
  position: relative;
  display: block;
  float: left;
}

.rslides img 
{
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.slidetext
{
  position: absolute;
  top: 20%;
  left: 0%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  width: 30%;
  min-width: 200px;
  height: 130px;
  padding: 20px;

}

.slideleadtext
{
  font-size: 1.8em;
}

.slidefollowtext
{
  font-size: 1.4em;
}

.salebannermobile
{
  width: 100%;
  height: 20px;
  font-size: 0.8em;
  background-color: #FFDB58;
  padding: 2px;
  margin-top: 20px;
  margin-bottom: -20px;
  display: none;

}

.salebannermobile > img
{
  width: 16px;
  height: 16px;

}


/* END Front page slide control */

/* Really small phone */
@media (max-width: 460px){


  .rslides img 
  {
    height: 150px;
    width: 600px;
    margin-left: -150px;
    overflow: hidden;
    text-align: center;
  }


}

/* Mobile media queries old: 767; */
@media (max-width: 767px){

  h1
  {
    padding-top: 20px;
    font-size: 1.9em;
    font-weight: bold;
  }

  #mobilenavul, #mobilegreet
  {
    display: inherit;
  }

  .preservemobilebig
  {
    padding-top: 5px;
    font-size: 3.5em;
  }

	.toplink
	{
		height: 100%;
		padding-top: 0px;
	}


  .navicon
  {
    display: inline-block;
  }

	.clinger
	{
		display: none;
	}

	.borderleft
	{
		border: none;
	}

  .whychooseblock
  {
    margin-bottom: 40px;
  }

  #pitchhead
  {
    margin-top: 0px;
    font-size: 2.2em;
  }

  .ctalink
  {
    width: 100px;
    display: inline-block;
  }

  #linkscontainer
  {
    display: none;
  }

  .mobilemenu
  {
    display: inline;
  }

  #maincontent
  {
  }

  #residentservices
  {
    background-image: none; /* url('../img/laddernotrans_m.png'), url('../img/ladderrepeater_m.png');*/
    background-size: 100%;
    background-attachment: scroll;
  }

  #residentservices h1
  {
      background-color: rgba(255, 255, 255, 0.8);
      width: 100;
      padding: 20px;
  }

  #residentservices > .container
  {
    background: none;
  }


  #commercialservices
  {
    background-attachment: scroll;

  }

  #commercialbanner
  {
    font-size: 1.3em;
  }

  .commercialfooter
  {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
  }

  #postalcode
  {
    margin-left: inherit;
  }

  .commercialinnercol
  {
    width: 100%;
    margin-top: 40px;
    font-size: 1.5em;
  }

  .commercialicon
  {
    display: block;
    font-size: 5.0em;
    margin-bottom: 20px;
    margin-top: 70px;
  }

  /* Why choose us block */

  #whyus
  {
    padding-bottom: 20px;
  }

  .tallman
  {
    width: inherit;
    padding: inherit;
    height: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* ENDS why choose us */


  .whitepage
  {
    background-color: #FFFFFF;
    margin: inherit;
    padding: inherit;
    margin-bottom: 20px;
    height: 100%;
    box-shadow: 10px 10px 5px #888888;
  }

  #logo
  {
    margin-top: 20px;
  }

  #logo > a > img
  {
    border: none;
  }

  .residentrow
  {
    margin-bottom: 0px;
  }

  .smallheader
  {
    display: block;
  }

  .bigheader
  {
    display: none;
  }

  .lotsoftext
  {
    font-size: 1.5em;
    width: 100%;
  }

  .quote-col > .inputadjuster
  {
    vertical-align: top;
  }

  .quote-col > .inputadjuster > button
  {
  display: inline-block;
  width: 30px;
  height: 35px;
  padding: 0px;
  margin: 1px;
  }

  .quote-col > .input > input
  {
    font-size: 1.2em;
  }

  #privacybanner
  {
    padding-top: 0px;
  }

  #commercialcore 
  {
    margin-top: 10px;
  }

  #commercialcore > #commercialbanner
  {
    font-size: 1.5em;
  }

  .slidetext
  {
    display: none;
  }

  .salebannermobile
  {
    display: block;
  }

  #guaranteewell
  {
    font-size: 1.5em;
  }

  #guaranteediscloser
  {
    font-size: 0.8em;
  }


}
/* END mobile media queries */

/* Mobile in landscape media queries */
@media (max-width: 767px) and (orientation: landscape){

  .toplink
  {
    display: inline-block;
  }

}
/* END mobile landscape */

/* Tablet media */
@media (max-width: 992px) and (min-width: 768px){
  .aboutuslinka
  {
    width: 120px;
    height: 60px;
    background-color:  rgb(66, 139, 202);
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }

  #linkscontainer
  {
    width: 100%;
  }

  .tallman
  {
    width: 95%;
    padding: 8px;
    height: inherit;
    margin-bottom: 40px;

  }

  #commercialcore > #commercialbanner
  {
    font-size: 2.0em;
  }

}
/* END tablet media */

/* Standard Wide */
@media (min-width: 992px) and (max-width: 1280px){

 /* #commercialcore > #commercialbanner
  {
    font-size: 2.5em;
  }
*/

}


/* Really Wide */
@media (min-width: 1910px){
  #residentservices
  {
    background-image: url('../img/laddertrans.png');

  }

  /*#commercialcore > #commercialbanner
  {
    font-size: 4.0em;
  }*/


}

/* Recaptcha specific */
@media (max-width: 444px) {

  .recaptchatable #recaptcha_challenge_image {
    margin-left: -120px !important;
    padding: 0 !important;
    width: 200px !important;
  }
  .recaptchatable .recaptcha_r1_c1, .recaptchatable .recaptcha_r3_c1,  .recaptchatable .recaptcha_r2_c2, .recaptchatable .recaptcha_r3_c2, .recaptchatable .recaptcha_r7_c1, .recaptchatable .recaptcha_r8_c1, .recaptchatable .recaptcha_r3_c3, .recaptchatable .recaptcha_r2_c1, .recaptchatable .recaptcha_r4_c1, .recaptchatable .recaptcha_r4_c2, .recaptchatable .recaptcha_r4_c4, .recaptchatable .recaptcha_image_cell {

    background: none !important;
  }

}